<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Login Server</title>
		<link rel="stylesheet" href="/public/style.css">
<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
	</head>
	<body>
		<h1>Login Server</h1>
     <form action="/name" method="post">
      <label>First Name :</label>
      <input type="text" name="first" placeholder="Aswin"><br>
      <label>Last Name :</label>
      <input type="text" name="last" placeholder="Barath"><br><br>
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>
